APP_URL=http://localhost:8787

TENCENTCLOUD_SECRET_ID=
TENCENTCLOUD_SECRET_KEY=

MAIL_FROM_ADDRESS=

COS_BUCKET=
COS_REGION=
COS_APP_ID=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=admin
DB_USERNAME=root
DB_PASSWORD=123456


AIGC_API_KEY =

ALIBABA_CLOUD_ACCESS_KEY_ID =
ALIBABA_CLOUD_ACCESS_KEY_SECRET =
ALIBABA_CLOUD_APP_KEY =

PINDUODUO_CLIENT_ID =
PINDUODUO_SECRET =
PINDUODUO_RETURN_URL = http://localhost:8787/api/admin/platform/pinduoduo/callback

BAIDU_API_KEY=
BAIDU_SECRET_KEY=

SILICONFLOW_API_TOKEN=

CUAPI_ACCESS_KEY =
CUAPI_SECRET_KEY =